* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #2563eb, #60a5fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  color: white;
  width: 320px;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: white;
  color: #2563eb;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#resultado {
  margin-top: 20px;
  font-size: 1.2rem;
}
